@import "tailwindcss";

@theme {
  --color-primary: #0A3161; /* Old Glory Blue */
  --color-secondary: #FFFFFF; /* White */
  --color-accent-red: #B31942; /* Old Glory Red (keeping the class name to not break un-opened files) */
  --color-light-gray: #F9FAFB;
  --color-dark-gray: #4B5563;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #4B5563; /* Default text color (dark-gray) */
  background-color: #FFFFFF; /* Default background (secondary) */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color: rgba(255, 255, 255, 0.87); Light text for dark mode */
    /* background-color: #1a1a1a; Dark background for dark mode */
  }
}
